.container {
    @include flex(column, center);
    align-items: center;
    gap: 2.5rem;
    h1 {
        color: $colorGrayishBlue;
        font-size: 1.5rem;
    }
    .toggle-container {
        @include flex(row, center);
        align-items: center;
        gap: 1rem;
        color: $colorLightGrayishBlue;
    }
    .price-container {
        @include flex(column, center);
        align-items: center;
        gap: 1rem;
        .price-box {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: #fff;
            border-radius: 0.5rem;
            padding: 1.8rem;
            margin: 0.6rem;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            h4 {
                text-align: center;
                color: $colorDarkGrayishBlue;
            }
            p {
                font-size: 3rem;
                width: 250px;
                color: $colorDarkGrayishBlue;
                text-align: center;
                margin-bottom: 1rem;
                .monthly {
                    display: none;
                }
            }
            ul {
                list-style: none;
                border-top: 0.1rem solid $colorLightGrayishBlue;
                padding: 0;
                li {
                    border-bottom: 0.1rem solid $colorLightGrayishBlue;
                    padding: 1rem 0;
                    font-size: 0.9rem;
                    color: $colorGrayishBlue;
                    text-align: center;
                }
            }
            button {
                background-image: linear-gradient( to right, $colorLinearGradient1, $colorLinearGradient2);
                border: none;
                border-radius: 0.3rem;
                color: #fff;
                font-family: "Montserrat", sans-serif;
                letter-spacing: 2px;
                padding: 0.8rem;
                margin: 1rem 0;
                width: 100%;
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    background-image: none;
                    background-color: #fff;
                    border: 0.1rem solid $colorLinearGradient2;
                    color: $colorLinearGradient2;
                }
            }
        }
        .premium {
            background-image: linear-gradient( to right, $colorLinearGradient1, $colorLinearGradient2);
            z-index: 1;
            h4 {
                // color: $colorVeryLightGrayishBlue;
                color: #fff;
            }
            p {
                // color: $colorVeryLightGrayishBlue;
                color: #fff;
            }
            ul {
                border-color: $colorVeryLightGrayishBlue;
                li {
                    border-color: $colorVeryLightGrayishBlue;
                    color: $colorVeryLightGrayishBlue;
                }
            }
            button {
                background-image: none;
                background-color: #fff;
                color: $colorLinearGradient2;
                cursor: pointer;
                &:hover {
                    background-image: linear-gradient( to right, $colorLinearGradient1, $colorLinearGradient2);
                    border: 0.1rem solid #fff;
                    color: #fff;
                }
            }
        }
    }
    .show-monthly {
        .price-box {
            p {
                .monthly {
                    display: block;
                }
                .annually {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 62em) {
    .container {
        .toggle-container {
            @include flex(row, center);
            align-items: center;
            gap: 1rem;
        }
        .price-container {
            @include flex(row, center);
            align-items: center;
            gap: 0;
            .price-box {
                display: flex;
                padding: 1.8rem;
                margin: -0.2rem;
                p {
                    font-size: 4rem;
                }
            }
            .premium {
                padding: 3rem;
            }
        }
    }
}